{{ userUpdateForm.value | json}}

<form style="text-align: center;" [formGroup]="userUpdateForm">
  <br>
  <div class="form-group">
    <label>
      Username <input type="text" formControlName="username" class="form-control" disabled>
    </label>
  </div>
  <div class="form-group">
    <label>
      Password <input type="text" formControlName="password" class="form-control">
    </label>
  </div>
  <div class="form-group">
    <label>
      Age <input type="number" formControlName="age" class="form-control">
    </label>
  </div>
  <div *ngIf="role === 'doctors' || role === 'doctor'">
    <div class="form-group">
      <label>
        Specialisation <input type="text" formControlName="doctorSpecialisation"
          class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label>
        Experience <input type="number" formControlName="experience" class="form-control">
      </label>
    </div>
    <button (click)="updateDoctor()" class="btn btn-primary">Update</button>
  </div>
  <div *ngIf="role === 'patients' || role === 'patient'">
    <div class="form-group">
      <label>
        Height <input type="number" formControlName="patientHeight" class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label>
        Weight <input type="number" formControlName="patientWeight" class="form-control">
      </label>
    </div>
    <button (click)="updatePatient()" class="btn btn-primary">Update</button>
  </div>

</form>
