.select {
    background-color: black;
    color: blanchedalmond;
}

.my-btn {
    margin-top: 5%;
    margin-right: 30%;
    margin-left: 30%;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5%;
}

.dashboard {
    // border: 1px solid black;
    margin: 2%;
}